---
import { Icon } from "astro-icon/components"
import { Image } from "astro:assets"
import { execSync } from "child_process"
const last_mod = execSync(`git log -1 --pretty="format:%as"`)
---

<footer>
  <div class="logos">
    <a href="https://www.rhein-main-universitaeten.de/en"
      ><Image
        alt="RMU Logo"
        src="/rmu-logo.svg"
        width="150"
        height="67.65"
      /></a
    >
    <a href="https://www.goethe-university-frankfurt.de/"
      ><Image
        alt="Goethe University Logo"
        src="/goethe-logo.svg"
        width="150"
        height="81.73"
      /></a
    >
    <a href="https://homepage.uni-mainz.de/"
      ><Image
        alt="Mainz University Logo"
        src="/jgu-logo.svg"
        width="150"
        height="77.66"
      /></a
    >
    <a href="https://www.tu-darmstadt.de/index.en.jsp"
      ><Image
        alt="TU Darmstadt Logo"
        src="/tud-logo.svg"
        width="150"
        height="56.71"
      /></a
    >
  </div>
  <div class="legal">
    {last_mod} | <a href="https://github.com/goethe-tcs/dais"
      ><Icon name="mdi:github" /> GitHub</a
    > |
    <a href="https://tcs.uni-frankfurt.de/legal/">Impressum und Datenschutz</a>
  </div>
</footer>
<style>
  .logos {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: grid;
    gap: 30px;
    grid-template-columns: auto auto;
    place-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .logos img {
    width: clamp(50px, 100%, 150px);
  }
  @media (min-width: 640px) {
    .logos {
      grid-template-columns: auto auto auto auto;
    }
  }
  .logos a {
    display: flex;
    justify-content: center;
    place-items: center;
  }
  footer a {
    transition: all 0.3s ease-in-out;
  }
  footer a:is(:hover, :focus) {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .legal {
    font-size: smaller;
    text-align: right;
  }
  .legal svg {
    width: 1em;
    margin-bottom: -0.2em;
  }
  .legal a {
    text-decoration: none;
    color: black;
  }
</style>
