---
import { Image } from "astro:assets"
---

<header>
  <a href="/" class="header-a">
    <Image
      alt="DAIS Logo"
      src="/RMU_DAIS_logo-notext.svg"
      width="159.61"
      height="315.52"
      loading="eager"
    />
  </a>
  <h1>Discrete Algorithm Insights Seminar RMU</h1>
</header>
<style>
  .header-a {
    text-decoration: none;
    color: inherit;
    padding: 1rem;
    user-select: none;
  }
  header {
    margin-left: auto;
    margin-right: auto;
    font-size: clamp(1rem, 4vw, 1.7rem);
    width: max-content;
    display: flex;
    place-items: center;
    gap: 1em;
    line-height: 1.5;
  }
  .header-a:is(:hover, :focus) {
    background-color: rgba(0, 0, 0, 0.1);
  }
  header img {
    height: 10em;
  }
  h1 {
    font-size: inherit;
    font-weight: 100;
    width: min-content;
    break-inside: auto;
    margin: 0;
    padding: 0;
    margin-top: 1.8em;
  }
</style>
